<!-- <h1><%= @description %></h1> -->

<h1>Find out what value your word has in the game of Scrabble!</h1>

<form action="/output">
  <div class="form-group">
    <label for="word">Enter a word or letter:</label>
    <input id="w" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Show me!</button>
</form>
